<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.openarchitectureware.var.dotvbuilder"
   name="DotVRelBuilder"
   version="1.0.0"
   provider-name="ample.net"
   class="org.openarchitectureware.var.dotvbuilder.Activator">

   <runtime>
      <library name="relationsbuilder.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ps.consul.eclipse.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.ps.consul.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="com.ps.consul.eclipse.ecore"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.openarchitectureware.var.featureaccess"/>
   </requires>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.openarchitectureware.var.pv.dotvrelbuilder.Startup">
      </startup>
   </extension>
   <extension
         point="com.ps.consul.eclipse.core.RelationsAcquires">
      <acquire
            class="org.openarchitectureware.var.pv.dotvrelbuilder.acquire.TextfileAcquire">
      </acquire>
   </extension>
   <extension
         id="dotVBuilder"
         name="DotVBuilder Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.openarchitectureware.var.dotvbuilder.DotVBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="dotVNature"
         name="DotV Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.openarchitectureware.var.dotvbuilder.DotVNature">
         </run>
      </runtime>
      <builder
            id="org.openarchitectureware.var.dotvbuilder.dotVBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.openarchitectureware.var.pv.dotvrelbuilder.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.openarchitectureware.var.dotvbuilder.ToggleNatureAction"
               enablesFor="+"
               id="org.openarchitectureware.var.dotvbuilder.addRemoveNatureAction"
               label="Add/Remove DotV Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openarchitectureware.var.dotvbuilder.preferences.DotVBuilderPreferencePage"
            id="org.openarchitectureware.var.dotvbuilder.preferences.DotVBuilderPreferencePage"
            name="DotVBuilder">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.openarchitectureware.var.dotvbuilder.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.openarchitectureware.var.dotvbuilder..properties.DotVPropertyPage"
            id="org.openarchitectureware.var.dotvbuilder..properties.samplePropertyPage"
            name="DotV">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.openarchitectureware.var.dotvbuilder.dotVNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
