<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.openarchitectureware.var.pv.xtextrelbuilder"
   name="Exdsl"
   version="1.0.0"
   provider-name="pure-systems GmbH"
   class="org.openarchitectureware.var.pv.xtextrelbuilder.Activator">

   <runtime>
      <library name="relationsbuilder.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.ps.consul.eclipse.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.ps.consul.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.ide"/>
   </requires>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.openarchitectureware.var.pv.xtextrelbuilder.Startup">
      </startup>
   </extension>
   <extension
         point="com.ps.consul.eclipse.core.RelationsAcquires">
      <acquire
            class="org.openarchitectureware.var.pv.xtextrelbuilder.acquire.TextfileAcquire">
      </acquire>
   </extension>

</plugin>
